.brand-page {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  padding: 20px 0 80px;
  padding-top: 8rem;
}

.brand-page__container {
  width: 95%;
  margin: auto;
}

.brand-page__breadcrumb {
  display: flex;
  gap: 10px;
  color: #9c9c9c;
  font-size: 14px;
  margin-bottom: 12px;
}

.brand-page__banner {
  position: relative;
  width: 100%;
  height: 540px;
  border-radius: 18px;
  overflow: hidden;
}

.brand-page__banner-image {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  background-size: cover;
  background-position: center;
}

.brand-page__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.brand-page__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.brand-page__grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 22px;
}

.brand-page__card {
  text-align: center;
  text-decoration: none;
}

.brand-page__image-box {
  width: 300px;
  height: 300px;
  background: #efefef;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  transition: 0.3s;
}

.brand-page__card:hover .brand-page__image-box {
  transform: translateY(-5px);
}

.brand-page__bike-image {
  width: 85%;
  object-fit: contain;
}

.brand-page__bike-name {
  margin-top: 18px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #2f2f2f;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media (max-width: 1200px) {
  .brand-page__grid {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .brand-page__banner {
    height: 320px;
  }

  .brand-page__title {
    font-size: 42px;
  }

  .brand-page__grid {
    grid-template-columns: 1fr;
  }

  .brand-page__image-box {
    width: 100%;
  }
}